In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import pickle
import datetime
from datetime import datetime
from pytz import timezone
import pytz
from pytz import all_timezones
import pickle

In [3]:
df=pd.read_csv(r"C:\Users\11147\Desktop\Sanket_backup\Mhack\vehicle.csv")

In [5]:
df.head()

,vehicle_id,year,make,Model,drivetrain,max_torque,max_horsepower,max_horsepower_rpm,max_torque_rpm,engine_displacement,fuel_type,fuel_tank_capacity,fuel_economy_city,fuel_economy_highway,cylinders,forced_induction,device_generation
0,1000500,2016,Honda,Civic,2,174,140,6500,1500,1.799,1059,47,16.50,20.00,4,1054.0,5
1,1000501,2016,Jeep,Compass,4,350,171,3750,1250,1.956,1059,60,17.10,21.20,3,NaN,4
2,1000502,2016,Hyundai,Creta,2,260,126,4000,1500,1.582,1059,55,19.67,24.10,4,1054.0,3
3,1000503,2016,Skoda,Superb,2,250,177,5100,1750,1.798,1059,66,14.67,23.30,3,NaN,2
4,1000504,2017,Volkswagen,Passat,4,350,174,3600,1500,1.968,1059,66,17.42,20.43,4,NaN,4